body{
    font-family: monospace;
}
h2{
    color: #808080;
}

  tr:nth-child(even) {
    background-color: #808080;
    color: #fff;
    border-collapse: collapse;
  }

  .table_data{
      text-align: center;
  }
  td, th {
    border: 1px solid #808080;
    padding: 15px;
  }